@media (min-width:1024px){
    .section1parent{
        width: 100%;
    }
    .section1child1{
        padding: 60px 20px 0 40px;
    }
    .cardsparent{
        padding:60px 20px 60px 20px;
    }
    .section3child1 img{
        width: 100%;
    }
    .section3child2 h2{
        padding: 40px;
    }

}


@media (max-width: 1024px) and (min-width:744px){
    .section1parent{
        flex-direction: column;
    }
    .section1child1{
        width: 100%;
        text-align: center;
    }
    .butoninfo{
        align-items: center;
        justify-content: center;
    }
    .butoninfo button{
        width: 100px;
    }
    .section1child2{
        width: 100%;
    }
    .section1child2 img{
        width: 90%;
        margin-left: 20px;
    }
    .cards{
        width: 30%;
    }
    .section3parent{
        flex-direction: column;
    }
    .section3child1{
        width: 100%;
        margin: 0px auto;
    }
    .section3child1 img{
       width:100%;   
    }
    .section3child2{
        width: 100%;;
        padding-top: 20px;
    }
    .footerparent{
        flex-direction: column;
        padding: 50px ;
    }
    .linkparent{
        margin-top: 45px;
        width: 100%;
        gap: 70px;
    }
    .fchild5{
        display: none;
    }
}
@media (max-width: 744px) and (min-width:375px){

}
